* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #000;
}
h1{
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
.clock {
    background-color: #ddd;
    height: 390px;
    width: 390px;
    border-radius: 100%;
    border: 3px solid #AAAAAA;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.twelve {
    width: 3px;
    height: 15px;
    background-color: #111;
    margin: 0 auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.three {
    width: 15px;
    height: 3px;
    background-color: #111;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
}
.six {
    width: 3px;
    height: 15px;
    background-color: #111;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    position: absolute;
}
.nine {
    width: 15px;
    height: 3px;
    background-color: #111;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    position: absolute;
}
.center {
    background-color: #000;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 100%;    
}
#seconds {
    position: absolute;
    top: 0;left: 0;bottom: 125px;right: 0;
    height: 125px;
    width: 2px;
    background-color: #FF4136;
    margin: auto;
    -webkit-transform-origin: bottom;
}
#minutes {
    position: absolute;
    top: 0;left: 0;bottom: 170px;right: 0;
    height: 170px;
    width: 2px;
    background-color: #000;
    margin: auto;
    -webkit-transform-origin: bottom;
}
#hours {
    position: absolute;
    top: 0;left: 0;bottom: 80px;right: 0;
    height: 80px;
    width: 6px;
    background-color: #000;
    margin: auto;
    -webkit-transform-origin: bottom;
}
/* digital watch */
.digital_watch {
    margin-top: 75vh;
    color: #fff;
}